@model IEnumerable<transport.Models.AdminPanelModel>

<table class="table table-responsive m-3">
    <thead class="bg-white text-dark text-center border">
        <tr>
            <th><span class="badge bg-dark">@Html.DisplayNameFor(model => model.Id)</span></th>
            <th><span class="badge bg-dark">@Html.DisplayNameFor(model => model.Roles)</span></th>
            <th><span class="badge bg-dark">@Html.DisplayNameFor(model => model.Email)</span></th>
            <th><span class="badge bg-dark">@Html.DisplayNameFor(model => model.FullName)</span></th>
            <th><span class="badge bg-dark">@Html.DisplayNameFor(model => model.PhoneNumber)</span></th>           
            <th><span class="badge bg-dark">@Html.DisplayNameFor(model => model.Counter)</span></th>
            <th><span class="badge bg-dark">Action</span></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
                <tr class="clickable text-center bg-light border" style="font-size: 0.9rem;">
                    <td>
                    @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                    @{
                        bool UserCheck = false;
                        bool AdminCheck = false;
                        bool SuperAdminCheck = false;
                    }
                        @{if (User.IsInRole("Admin"))
                        {
                            int m =0;
                            foreach (var rolex in item.Roles)
                            {
                                <div>@rolex</div>
                            }  
                            m++;
                        }
                    
                        else if(User.IsInRole("SuperAdmin"))
                        {
                            List<string> tempRoles = new List<string>()
                            {
                                "User",
                                "Admin",
                                "SuperAdmin"
                            };
                            

                            int j =0;

                                for(int k=0; k<tempRoles.Count; k++)
                                {
                                    foreach(var role in item.Roles)
                                    {
                                        if(role==tempRoles[k] && role=="User")
                                        {
                                            UserCheck = true;
                                        }
                                        else if(role==tempRoles[k] && role=="Admin")
                                        {
                                            AdminCheck = true;
                                        }
                                        else if (role == tempRoles[k] && role == "SuperAdmin")
                                        {
                                            SuperAdminCheck = true;
                                        }
                                    }   
                                    j++;
                                                       
                                }
                            
                        <form method="post" asp-action="ChangeRole" asp-for="SelectedId" value="@item.Id">
                                <input class="form-check-input" type="radio" name="@item.Id"  asp-for="@item.SelectedRole" value="User" checked="@UserCheck">
                            <label >
                                User
                            </label>

                                <input class="form-check-input"type="radio" name="@item.Id" asp-for="@item.SelectedRole" value="Admin" checked="@AdminCheck">
                            <label >
                                Admin
                            </label>

                                <input class="form-check-input" type="radio" name="@item.Id" asp-for="@item.SelectedRole" value="SuperAdmin" checked="@SuperAdminCheck">
                            <label >
                                SuperAdmin
                            </label>

                                <button type="submit" class="btn-success btn-sm" style="font-size: 0.8rem;">Save</button>
                        </form>
                        
                        
 
                        }

                    }    
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Counter)
                    </td>
                    <td>
                        @if(!item.isBlocked)
                    {
                        <form asp-controller="Account" asp-action="BlockUser" asp-route-id="@item.Id" method="post">
                            <button asp-route-id="@item.Id" type="submit" class="btn-danger btn-sm" style="font-size: 0.8rem;">Block</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Account" asp-action="BlockUser" asp-route-id="@item.Id" method="post">
                            <button asp-route-id="@item.Id" type="submit" class="btn-secondary btn-sm" style="font-size: 0.8rem;">Unblock</button>
                        </form>
                    }
                    </td>                   
                </tr>
               
            i++;
        }
        @if (!Model.Any())
        {
                <tr>
                    <td colspan="7" class="text-center text-danger border">No content</td>
                </tr>
        }
    </tbody>
</table>