@model IEnumerable<transport.Models.UsersRankingModel>

<div class="row justify-content-center">
    <div class="col-5">
        <h3 class="text-center mt-1">Users Top 10</h3>
<table class="table table-responsive m-3">
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            <tr class="bg-light border" style="font-size: 0.9rem;">
                <td class="col-sm-1">
                   @if(i.Equals(0))
                            {
                                <div style="color: orange"><i class="fa fa-trophy" aria-hidden="true"></i></div>
                            }
                            else if(i.Equals(1))
                            {
                                 <div style="color: silver"><i class="fa fa-trophy" aria-hidden="true"></i></div>
                            }
                            else if (i.Equals(2))
                            {
                                <div style="color: saddlebrown"><i class="fa fa-trophy" aria-hidden="true"></i></div>
                            }
                            else
                            {
                                @(i + 1)
                            }                           
                </td>
                <td class="text-center col-sm-3">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-center col-sm-3">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-center col-sm-3">
                    <div class="text-secondary">Created Orders:</div>
                </td>
                <td class="text-center col-sm-1">
                    @Html.DisplayFor(modelItem => item.Counter)
                </td>
            </tr>                            
            i++;
            
        }
        @for(int j=i; j<10; j++)
        {
                    <tr class="bg-light border" style="font-size: 0.9rem;">
                        <td class="col-sm-1">                           
                             @(j + 1)                            
                        </td>
                        <td class="text-center col-sm-3">
                            <div>-</div>
                        </td>
                        <td class="text-center col-sm-3">
                            <div>-</div>
                        </td>
                        <td class="text-center col-sm-3">
                            <div class="text-secondary">Created Orders:</div>
                        </td>
                        <td class="text-center col-sm-1">
                            <div>-</div>
                        </td>
                    </tr>
        }
        @if (!Model.Any())
        {
            <tr>
                <td colspan="4" class="text-center text-danger border">No content</td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>