@model IEnumerable<transport.Models.OrderDto>

<table class="table table-responsive table-hover m-3">
    <thead class="bg-secondary text-dark text-center">
        <tr>
            <th><span class="badge bg-light text-dark">@Html.DisplayNameFor(model => model.Title)</span></th>
            <th><span class="badge bg-light text-dark">@Html.DisplayNameFor(model => model.Weight)</span></th>
            <th><span class="badge bg-light text-dark">@Html.DisplayNameFor(model => model.PalletPlace)</span></th>
            <th><span class="badge bg-light text-dark">@Html.DisplayNameFor(model => model.PickupCountry)</span></th>
            <th><span class="badge bg-light text-dark">@Html.DisplayNameFor(model => model.DestCountry)</span></th>
            <th><span class="badge bg-light text-dark">@Html.DisplayNameFor(model => model.Price)</span></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            <tr class="clickable text-center" style="font-size: 0.9rem;" data-toggle="collapse" data-target="#collapseOne_@i" href="#collapseOne_@i">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight) kg
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PalletPlace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickupCountry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestCountry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) <i class="fa fa-eur" aria-hidden="true"></i>
                </td>
            </tr>
            <tr id="collapseOne_@i" class="panel-collapse collapse in" style=" font-size: 0.8rem;">
                <td colspan="1"class="text-center">
                    <span class="badge bg-dark">Description</span>
                    <div>
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>
                    
                    </td>
                <td colspan="1" class="text-center">
                    <span class="badge bg-dark">Contact</span>
                    <div>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.Email)
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </div>
                    </td>
                    <td colspan="2" class="text-center">
                    <span class="badge bg-dark">Pickup Address</span>
                    <div>
                        @Html.DisplayFor(modelItem => item.PickupPostCode)
                        @Html.DisplayFor(modelItem => item.PickupCity)
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.PickupCountry)
                    </div>
                    </td>
                <td colspan="2" class="text-center">
                    <span class="badge bg-dark">Destination Address</span>
                    <div>
                        @Html.DisplayFor(modelItem => item.DestPostCode)
                        @Html.DisplayFor(modelItem => item.DestCity)
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.DestCountry)
                    </div>
                </td>
            </tr>
            i++;
        }
       
    </tbody>
</table>
<style>
    .collapsing {
        -webkit-transition: height .01s ease;
        transition: height .01s ease
    }
</style>