@model transport.Models.OrderDto

<div>
    <dl class="dl-horizontal">
        <dt class="text-dark">Details:</dt>
        <dt class="text-secondary">
           Title: @Html.DisplayFor(model => model.Title)
        </dt>
        <dt class="text-secondary">
            Description: @Html.DisplayFor(model => model.Description)
        </dt>
        <dt class="text-secondary">
            Weight: @Html.DisplayFor(model => model.Weight) kg
        </dt>
        <dt class="text-secondary">
            Pallets: @Html.DisplayFor(model => model.PalletPlace)
        </dt>
        <dt class="text-secondary">
            Price: @Html.DisplayFor(model => model.Price) €
        </dt>
        <dt class="text-dark">Pickup Address:</dt>
        <dt class="text-secondary">
            Post Code: @Html.DisplayFor(model => model.PickupPostCode)
        </dt>
        <dt class="text-secondary">
            City: @Html.DisplayFor(model => model.PickupCity)
        </dt>
        <dt class="text-secondary">
            Country: @Html.DisplayFor(model => model.PickupCountry)
        </dt>
        <dt class="text-dark">Destination Address:</dt>
        <dt class="text-secondary">
            Post Code: @Html.DisplayFor(model => model.DestPostCode)
        </dt>
        <dt class="text-secondary">
            City: @Html.DisplayFor(model => model.DestCity)
        </dt>
        <dt class="text-secondary">
            Country: @Html.DisplayFor(model => model.DestCountry)
        </dt>
        <dt class="text-dark">Created By:</dt>
        <dt class="text-secondary">
            Full Name: @Html.DisplayFor(model => model.FullName)
        </dt>
        <dt class="text-secondary">
            Email: @Html.DisplayFor(model => model.Email)
        </dt>
        <dt class="text-secondary">
            Phone: @Html.DisplayFor(model => model.PhoneNumber)
        </dt>   
    </dl>
</div>