@model IEnumerable<transport.Models.OrderDto>

<table class="table table-responsive table-hover m-3">
    <thead class="bg-white text-dark text-center border">
        <tr>
            <th><span class="badge bg-dark">@Html.DisplayNameFor(model => model.Title)</span></th>
            <th><span class="badge bg-dark">@Html.DisplayNameFor(model => model.Weight)</span></th>
            <th><span class="badge bg-dark">@Html.DisplayNameFor(model => model.PalletPlace)</span></th>
            <th><span class="badge bg-dark">@Html.DisplayNameFor(model => model.PickupCountry)</span></th>
            <th><span class="badge bg-dark">@Html.DisplayNameFor(model => model.DestCountry)</span></th>
            <th><span class="badge bg-dark">@Html.DisplayNameFor(model => model.Price)</span></th>
        </tr>
    </thead>
    <tbody>
        
        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            <tr class="clickable text-center bg-light border" style="font-size: 0.9rem;" data-toggle="collapse" data-target="#collapseOne_@i" href="#collapseOne_@i">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Weight) kg
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PalletPlace)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickupCountry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestCountry)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) <i class="fa fa-eur" aria-hidden="true"></i>
                </td>
            </tr>
            <tr id="collapseOne_@i" class="panel-collapse collapse in border" style=" font-size: 0.8rem;">
                <td colspan="1" class="text-center">
                    <span class="badge bg-dark">Description</span>
                    <div>
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>

                </td>                
                <td colspan="2" class="text-center">
                    <span class="badge bg-dark">Pickup Address</span>
                    <div>
                        @Html.DisplayFor(modelItem => item.PickupPostCode)
                        @Html.DisplayFor(modelItem => item.PickupCity)
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.PickupCountry)
                    </div>
                </td>
                <td colspan="2" class="text-center">
                    <span class="badge bg-dark">Destination Address</span>
                    <div>
                        @Html.DisplayFor(modelItem => item.DestPostCode)
                        @Html.DisplayFor(modelItem => item.DestCity)
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.DestCountry)
                    </div>
                </td>
                    <td colspan="1" class="text-center">
                    <span class="badge bg-dark">Actions</span>
                    <div class="mt-1">                       
                            <button type="button" onclick="location.href='@Url.Action("Edit", "Order", new { id = @item.Id })'" class="btn-success btn-sm" style="font-size: 0.8rem;">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>                                             
                        </div>
                        <div class="mt-1">
                        <form asp-controller="Order" asp-action="Delete" asp-route-id="@item.Id" method="post">
                            <button asp-route-id="@item.Id" type="submit" class="btn-danger btn-sm" style="font-size: 0.8rem;">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </form>
                        
                        </div>
                    
                    </td>
            </tr>
            i++;
        }
        @if(!Model.Any())
        {
            <tr>
                <td colspan="6" class="text-center text-danger border">No content</td>
            </tr>
        }
    </tbody>
</table>
<style>
    .collapsing {
        -webkit-transition: height .01s ease;
        transition: height .01s ease
    }
</style>
