@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Navbar.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Home/Index">
                <img src="https://i.ibb.co/yp6PcsW/logocargo.png" class="rounded-circle" height="55"
                     alt="" loading="lazy"/>
            </a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    @if (User.Identity.IsAuthenticated)
                    {
                         <ul class="navbar-nav flex-grow-1">
                           <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="order" asp-action="search"><i class="fa fa-search" aria-hidden="true"></i> Search</a>                       
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="order" asp-action="create"><i class="fa fa-plus" aria-hidden="true"></i> Create Order</a>
                                
                            </li>
                             <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="order" asp-action="getuserorders" asp-route-guid="@Guid.NewGuid()"><i class="fa fa-list" aria-hidden="true"></i> My Orders</a>
                                
                            </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="account" asp-action="getusersranking"><i class="fa fa-trophy" aria-hidden="true"></i> Ranking</a>
                        </li>
                    </ul>
                    if(User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="account" asp-action="getadminpanel">Panel</a>
                        </li>
                    }

                    }
                
                    else
                    {
                         <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="order" asp-action="search"><i class="fa fa-search" aria-hidden="true"></i> Search</a>                       
                            </li>
                        </ul>
                    }
                </ul>
                <ul class="navbar-nav d-flex flex-row ms-auto me-3">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="ChangePassword"><i class="fa fa-user" aria-hidden="true"></i> @(((ClaimsIdentity)User.Identity).FindFirst("FullName").Value)(@User.Identity.Name)</a>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>                                
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="account" asp-action="login"><i class="fa fa-sign-in" aria-hidden="true"></i> Log in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="account" asp-action="register"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a>
                            </li>
                        </ul>
                    }                   
                </ul>
               
            </div>
        </div>
    </nav>
    <!-- Navbar -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - CargoEU - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


